.location-map-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: var(--bs-border-radius);
}

.location-map-container.is-invalid {
  border: 1px solid var(--bs-form-invalid-border-color);
}

.location-map-container[disabled],
.location-map-container.disabled:before {
  content: "";
  background-color: rgba(var(--bs-light-rgb), 0.4);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

.location-map-container {
  .leaflet-pane,
  .leaflet-tile,
  .leaflet-marker-icon,
  .leaflet-marker-shadow,
  .leaflet-tile-container,
  .leaflet-pane > svg,
  .leaflet-pane > canvas,
  .leaflet-zoom-box,
  .leaflet-image-layer,
  .leaflet-layer {
    left: auto;
    right: 0;
  }

  .leaflet-control-attribution.leaflet-control {
    display: none;
  }
}
